<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

<body>

    <%- include('partials/header') %>

    <div class="container container-fluid">
        <div class="title_cont">
            <h1> <%= post.title %> </h1>

            <form class="delete_form" action="/delete" method="post">
                <button class="btn btn-sm btn-danger publish-btn" name='deleteBtn' value="<%= post._id %>" type="submit">Delete post</button>
            </form>
        </div>
        <p> <%= post.content %> </p>
        <hr>
    </div>

    <%- include('partials/footer') %>

</body>

</html>